<div class="container-fluid">
      <h2>Your reviews</h2>
  
  <div class="col-sm-12 myReviews">
      <div class="panel panel-info">
          <div class="panel-heading">Panel Heading</div>
          <div class="panel-body">Panel Content</div>
          <div class="panel-footer">Panel Footer</div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Panel Heading</div>
            <div class="panel-body">Panel Content</div>
            <div class="panel-footer">Panel Footer</div>
          </div>
          <div class="panel panel-info">
              <div class="panel-heading">Panel Heading</div>
              <div class="panel-body">Panel Content</div>
              <div class="panel-footer">Panel Footer</div>
            </div>
            
         
            
  </div>
 </div>