input{
    height: 50px;
    font-size: 18px;
}

select{
    height: 50px;
    font-size: 18px; 
}
textarea{
    font-size: 18px;
}
.btn{
    width: 65%;
    height: 45px;
    font-size: 18px;
    background:  rgb(99, 192, 161);
    border: none;
}
h2{
    color: rgb(255, 255, 255);
    font-size: 35px;
    margin-top: 5%;
    margin-bottom: 20px;
}

.myReviews{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.589);
    padding: 50px 70px 50px 70px;
    width: 100%;
}
.singleReview{
    background-color: rgba(8, 235, 204, 0.589);

}

