<div class="container-fluid">
    <div class="title">Profile</div>

  <div class="col-sm-12 myprofile">

    <div class="panel panel-default">
      <div class="panel panel-heading"></div>
      <div class="panel panel- body">
          <div class="row">
            <div class="col-sm-4">
        <img src="../../assets/myProfile.jpg" height="200px; width:200px;">
          </div>

          <div class="col-sm-7">
               <div class="row">
                  <div class="col-sm-3 textfont"><b>FirstName</b></div>
                  <div class="col-sm-3 textfont">{{profile.firstName}}</div>
                   
               </div>
               <hr>

               <div class="row">
                  <div class="col-sm-3 textfont"><b>LastName </b></div>
                  <div class="col-sm-3 textfont">{{profile.lastName}}</div>
                   
               </div>
               <hr>

               <div class="row">
                  <div class="col-sm-3 textfont"><b>E-mail</b></div>
                  <div class="col-sm-3 textfont">{{profile.email}}</div>
                   
               </div>

          </div>

          </div>

          <div class="panel panel-footer">
              <button class="btn btn-primary edit-btn" title="Edit profile"> 
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </button>

          </div>

      </div>

    </div>

  </div>


</div>
